# directories
cache
node_modules
out
venv
.vscode
myenv

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock
.vscode/settings.json

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
.vscode/settings.json
